---
---

@use "sass:color"
@use "theme" as *
@use "font"
@use "basic"
@use "layout"
@use "classes"

html
  background: color.adjust($dark, $lightness: 70%, $space: hsl)
  padding: 0 calc(38% - 22em)

body
  box-shadow: 0 0 .3em color.adjust($dark, $lightness: 65%, $space: hsl)

body > header, body > footer
  background: color.adjust($dark, $lightness: 5%, $space: hsl)
  color: $light

@media (min-width: 32em)
  body > header, body > article, body > footer
    padding: 1.75em calc(22% - 6em)

@media (prefers-color-scheme: dark)
  body, body > header, body > footer
    box-shadow: 0 0 0 1px color.adjust($dark, $lightness: 8%, $space: hsl)
  html, body > header, body > footer
    background: $dark
